// .bg-image {
//     background: url('/assets/images/home.jpg') no-repeat center center fixed;
//     background-size: cover;
//   }
//   .no-scroll .scroll-content {
//     overflow: hidden;
//   }

.bg-image{
    // background: url(./assets/images/home.jpg) no-repeat center center fixed;
    background: url(/assets/images/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    // background-repeat: no-repeat;
    // background-size: cover;  
    }