<ion-header>
  <ion-toolbar>
    <ion-title>PetLover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="bg-image no-scroll">
  <ion-img src="/assets/images/home.jpg"></ion-img>
  <ion-card>
    <!-- <ion-img src="/assets/images/home.jpg"></ion-img> -->
    <ion-card-header>
      <ion-card-title text-center>Here we keep your best "Memory with us."</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="clear" color="primary" routerLink="/auth/login">
        Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>